body{
    width: 100%;
    background:#f7f7f7;
    margin: 0 auto;
    padding: 0 auto;
    font-size:12px;
}
/* 头部 */
.head_box{
    width:  1200px ;
    height: 124px;
    background:white;
    margin:auto;
}
.head_box_left{
    width: 600px;
    height: 124px;
    float: left;
    padding-top: 30px;
    box-sizing: border-box;
}
.head_box_right{
    width: 600px;
    height: 124px;
    float: right;
}
.head_box_top{
    width: 600px;
    height: 54px;
    text-align: center;
    line-height: 54px;
    color:#a0a0a0;
}

.head_box_top a{
    cursor: pointer;
    color:#a0a0a0;
}

.head_box_right>ul{
    display: flex;
}
.head_box_right>ul>li{
    width: 115px;
    height: 54px;
    /* background:#f5f5f5; */
    font-weight: bolder;
    line-height: 54px;
    text-align: center;
}


.head_box_right>ul>li:hover{
    background: #f5f5f5;
    cursor: pointer;
}

/* 导航 */
.nav_box{
    width: 100% ;
    height: 48px;
    border-bottom: 2px solid #f1f1f1;
}
.nav_box .nav{
    width: 1200px;
    height: 48px;
    margin:auto;
}

.nav_box .nav ul{
    display: flex;
}

.nav_box .nav ul li{
    width: 85px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
}
.nav_box .nav ul li:nth-child(2){
    color: #21b8c6;
    /* height: 50px; */
    border-bottom: 2px solid #21b8c6;
}

/* 主体 */
section{
    width: 1200px;
    margin: auto;
}
.sec_box{
    margin-top: 82px;
    width: 1200px;
    height: 216px;
}
.sec_box .box{
    width: 600px;
    height: 216px;
    float: left;
    background: white;
}
.sec_box .box .small_box{
    margin:50px 0 0  30px;
    box-sizing: border-box;
}
.sec_box .box .small_box h3{
    font-size: 19px;
}

.sec_box .box .small_box p:nth-of-type(1){
    color: #a0a0a0;
    line-height: 30px;
}

.sec_box .box .small_box p:nth-of-type(2){
    line-height: 35px;
    width: 90%;
    color: #a0a0a0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sec_box .box .small_box .more{
    margin-top: 10px;
    width: 90px;
    height: 30px;
    border: 1px solid #a0a0a0;
    text-align: center;
    line-height: 30px;
    color: #a0a0a0;
}

.bottom_pages{
    margin: auto;
    width: 1200px;
    height: 260px;
    border-bottom: 2px #ececec solid;
    padding-top: 35px;
}
.bottom_pages ul{
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 345px;
}

.bottom_pages ul li{
    width: 35px;
    height: 35px;
    float: left;
    margin-top: 80px;
    border: 1px solid #ececec;
    background: #f5f5f5;
    color: #a0a0a0;
    text-align: center;
    line-height: 35px;
}
.bottom_pages ul li:nth-child(2){
    background: #21b8c6;
    color: white;;
}

footer{
    width: 100%;
    height: 345px;
    background:#eaeaea ;
    padding-top: 65px;
}

.foot_box{
    margin: 0 auto;
    width: 1200px;
    height: 222px;
}

.foot_box_left{
    width: 540px;
    height: 222px;
    float: left;
}
.foot_box_right{
    width: 660px;
    height: 222px;
    float: left;
}

.foot_box_left h3{
    font-size: 22px;
    font-weight: 100;
    color: #9f9f9f;
}

.foot_box_left .phone_site{
    margin-top: 30px;
    margin-bottom: 40px;
    width: 460px;
    height: 45px;
}

.foot_box_left .phone_site p{
    color: #a0a0a0;
}

.foot_box_left .logo div{
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background: #a0a0a0;
    color: white;
    text-align: center;
    line-height: 31px;
    float: left;
    margin-right: 30px;
}
.foot_box_right ul{
    float:left;
    margin-right: 35px;
}
.foot_box_right ul li{
    line-height: 25px;
    color: #a0a0a0;
}
.foot_box_right ul li:nth-child(1){
    font-weight: bolder;
}

.foot_box_right ul li:nth-child(2){
    line-height: 22px;
}

.foot{
    margin:auto;
    border-top: 2px solid #a0a0a0;
    width: 1200px;
    height: 45px;
    color: #a0a0a0;
    line-height: 45px;
}