/* 复制代码 */
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
form,
input,
textarea,
th,
td,
select {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
}

body {
    font-family: "Microsoft YaHei";
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #232323;
}

input,
textarea {
    outline: none;
    box-shadow: none;
}

textarea {
    resize: none;
    overflow: auto;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

.fl {
    float: left
}

.fr {
    float: right
}

.tl {
    text-align: left;
}

.tc {
    text-align: center
}

.tr {
    text-align: right;
}

.ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sho2{
	width: 100px;
	height: 136px;
	background-color: #fff;
	display: none;
	position: absolute;
	right: 400px;
	top: 108px;
	color: #8d8d8d;
	z-index: 11;
}
.sho2 ul li{
	/* margin-top: 14px; */
	line-height: 34px;
	text-align: center;
}
.sho2 ul li:hover{
	background-color: #eeeeee;
}
.sho3 ul li{
	/* margin-top: 14px; */
	line-height: 34px;
	text-align: center;
}
.sho3 ul li:hover{
	background-color: #eeeeee;
}
.sho4 ul li{
	/* margin-top: 14px; */
	line-height: 34px;
	text-align: center;
}
.sho4 ul li:hover{
	background-color: #eeeeee;
}
.sho6 ul li{
	/* margin-top: 14px; */
	line-height: 34px;
	text-align: center;
}
.sho6 ul li:hover{
	background-color: #eeeeee;
}
.sho3{
	width: 100px;
	background-color: #fff;
	height: 136px;
	display: none;
	position: absolute;
	right: 300px;
	top: 108px;
	color: #8d8d8d;
	z-index: 11;
}
.sho4{
	width: 100px;
	height: 36px;
	background-color: #fff;
	display: none;
	position: absolute;
	right: 200px;
	top: 108px;
	color: #8d8d8d;
	z-index: 11;
}
.sho5{
	width: 100px;
	height: 136px;
	background-color: #fff;
	
	display: none;
	position: absolute;
	right: 100px;
	top: 108px;
	color: #8d8d8d;
	z-index: 11;
}
.sho6{
	width: 100px;
	height: 110px;
	background-color: #fff;
	display: none;
	position: absolute;
	right: 0px;
	top: 108px;
	color: #8d8d8d;
	z-index: 11;
}